{% extends 'base.html.twig' %}

{% block title %}Hello Draft!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Je bekijkt nu de volgende draft: '{{ draft.title }}' </h1>

        <h3>Dit bevat de draft:</h3>
        <ul>
            <li><b>Beschrijving:</b> {{ draft.description }}</li>
            <li><b>Content:</b> {{ draft.content }}</li>
            <li><b>Gebruiker:</b> {{ draft.user }}</li>
        </ul>

        <a href="{{ path('draft_edit',{'id': draft.id}) }}"><button>Bewerken</button></a>
        <a href="{{ path('draft_publish',{'id': draft.id}) }}"><button>Publiceren</button></a>
    </div>
{% endblock %}
