{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
    <h1>Dit is het overzicht met artikelen:</h1>

        {% for article in articles %}
        <div class="article">
        <h3>
            {% if(article.draft) %}
                <a class="has-draft" href="{{ path('article_show',{'id': article.id}) }}">{{ article.title }}</a>
            {% else %}
                <a href="{{ path('article_show',{'id': article.id}) }}">{{ article.title }}</a>
            {% endif %}
        </h3>

            {{ article.description }}

            <div>
                <p>{{ article.createDate | date('d-m-y H:m:s') }}</p>
            </div>

            <a class="color-danger text-decoration-none" href="{{ path('article_remove',{'id': article.id}) }}">Verwijderen</a>

        </div>
        {% endfor %}
    <a href="{{ path('draft_new') }}"><button>Nieuwe draft toevoegen</button></a>
</div>
{% endblock %}