{% extends 'base.html.twig' %}

{% block title %}Hello Article!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Je bekijkt nu het volgende artikel: '{{ article.title }}' </h1>

    <h3>Dit bevat het artikel:</h3>
    <ul>
        <li><b>Beschrijving:</b> {{ article.description }}</li>
        <li><b>Content:</b> {{ article.content }}</li>
        <li><b>Gebruiker:</b> {{ article.user }}</li>
    </ul>

    <a href="{{ path('draft_edit',{'id': article.id}) }}"><button>Bewerken</button></a>

    <h3>Het artikel bevat de volgende versies:</h3>
    <ul>
        {% for version in article.versions %}
            <li><a href="{{ path('article_version',{'articleId': article.id, 'versionId': version.id}) }}">{{ version.versionDate | date('d-m-y H:m:s') }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
