{% extends 'base.html.twig' %}

{% block title %}Hello Version!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Id van het artikel: {{ article.id }}</h1>

        {% if article.versions[0] != version %}
            <b>Vorige versie:</b>
            <ul>
                {% for art_version in article.versions %}
                    {% if art_version.versionDate == version.versionDate %}
                        <li> Datum & tijd: {{ article.versions[(loop.index - 2)].versionDate | date('d-m-Y H:m:s') }}</li>
                        <li> {% for key, value in article.contentValues %}
                                {{ key }}: {{ value | raw }}<br>
                            {% endfor %}</li>
                    {% endif %}
                {% endfor %}
            </ul>

            <b>Nieuwste versie:</b>
        {% endif %}
        <ul>
            <li> Datum & tijd: {{ version.versionDate | date('d-m-Y H:m:s') }}</li>
            <li>{% for key, value in article.contentValues %}
                    {{ key }}: {{ value | raw }}<br>
                {% endfor %}</li>
        </ul>

    </div>
{% endblock %}
